/*.height1{
	height: 45vh;
	
}
.height2{
	height: 40vh;
	
}
.height3{
	height: 65vh;
	
	}

.h{
	height:70vh;
	
}
@media only screen and(max-width: 576px){
.h{
	height: 100vh;
}
.height3{
	height: 150vh;
}
.height2
{
	height: 100vh;
}*/

.vh-60{
	height: 60vh;
}
.vh-40
{
	height: 40vh;
}
.font-para p{
	font-size: 18px;
}
@media only screen and(max-width: 576px){
	.vh-60{
		height: auto;
	}
}
/*.vh-40{
	height: auto;
}*/